.cardPostionRegister{
    position: absolute;
    top: 185px;
    left: 573px;
}

.cardPostionOtp{
    position: absolute;
    top: 185px;
    left: 573px;
}

.homeText{
    position: absolute;
    top: 270px;
    left: 500px;
    text-align: center;
}